<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357289381674-a1iqjtcqdujt6954rd9bu27sf2pd88d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357289381674-a1iqjtcqdujt6954rd9bu27sf2pd88d7</string>
	<key>API_KEY</key>
	<string>AIzaSyB6cnsE61Q1lR0zupzlYPYufnaqXsDebJg</string>
	<key>GCM_SENDER_ID</key>
	<string>357289381674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebasesamplebitkod</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebasesamplebitkod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357289381674:ios:a656323968711549411853</string>
	<key>DATABASE_URL</key>
	<string>https://flutterfirebasesamplebitkod.firebaseio.com</string>
</dict>
</plist>